---
const name = "Ryugen XD";
// const tes : (x:number) => number = (x) => x+x; 
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body class="bob">
		<h1 class="name"> > - {name} | Termux Indonesia</h1>
		<a href="/">Home</a>
  	<a href="/about/">About</a>
 		<a href="/blog/">Blog</a>
		<div class="astro-hero">
			 <h2>My Astro Site</h2>
		</div>
	</body>
</html>

<style>
.bob{
	background-color: rgba(30,30,30,0.937);
}
.name{
	background-color: rgba(31, 31, 31, 0.937);
	color:white;
	padding:1rem;
	border-radius: 20px;
}
.astro-hero{
	color:white;
	padding:1rem;
	text-align:center;
	background-color: rgb(34, 117, 200);
	margin-left:1rem;
	margin-right:1rem;
}
</style>